<section class="main">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-12"></div>
      <div class="col-md-4 col-12">
        <img src="https://kwaleeweb-dev.s3.eu-west-1.amazonaws.com/s3fs-public/2023-09/images/kwalee-lets-play-logo.png" alt="" class="w-100 mb-5">
      </div>
      
    </div>
    <div class="row">
      <div class="col-12">
          <div class="text-center">
            <button class="btn btn-outline-primary btn-sm px-4 me-3" (click)="changeTab('static')" [ngClass]="{'fill' : currentTab == 'static'}">
              Static Posts
            </button>
            
            <button class="btn btn-outline-primary btn-sm px-4" (click)="changeTab('api')" [ngClass]="{'fill' : currentTab == 'api'}">
              Through API
            </button>

          </div>
      </div>
    </div>

    <div class="row" >
      <div class="col-12">
        <h3 class="mt-4">
          Create Posts
        </h3>
      </div>
      <div class="col-12">
        <app-post-form (postEmit)="receivePost($event)"></app-post-form>
      </div>
      <div class="col-12" *ngIf="currentTab == 'static'">
        <h3 class="mt-4">
          All Static Posts
        </h3>
        <div class="col-12" >
          <app-posts *ngFor="let post of allStaticPosts" [post]="post" (likeEmit)="likePost($event, 'static')"></app-posts>
        </div>
      </div>

      <div class="col-12" *ngIf="currentTab == 'api'">
        <h3 class="mt-4">
          All Dynamic Posts
        </h3>
        <app-posts *ngFor="let post of allDynamicPosts" [post]="post" (likeEmit)="likePost($event, 'api')"></app-posts>
      </div>

      
    </div>


  </div>
</section>